<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>Todo</title>
</head>

<header>
    <nav class="navbar navbar-expand-custom navbar-mainbg ">

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="far fa-calendar-alt"></i>🗓️ Today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/work"><i class="far fa-clone"></i>💼 Work</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
